<p>transaction works!</p>
<div class="row mb-3 ">
    <div class="col-sm-3">
        <label for="">Account ID</label>
    </div>
    <div class="col-sm-6">
        <input class="col-md-6 form-control" readonly placeholder="accountNumber" type="number"
            value="{{accountNumber}}">
        <!-- <label for="">Number to convert</label><br>
            <input class="form-control" placeholder="amount" type="number" formControlName="amount">
            <div *ngIf="transactionFormGroup.get('amount').invalid && 
            (transactionFormGroup.get('amount').dirty || transactionFormGroup.get('amount').touched)"                
                class="alert alert-danger">
                <span *ngIf="transactionFormGroup.get('amount').errors?.required">Amount is required.</span>
                <span *ngIf="transactionFormGroup.get('amount').errors?.max">The number must be must be less than your account balance</span>
            </div> -->
    </div>
</div>
<div class="container">
    <form [formGroup]="transactionFormGroup" (ngSubmit)="submitNumber()">
        <div class="col-md-8  mx-auto">
            <div id="msg" class="row mb-3">
                <div *ngIf="transactionAdded && submited" class="alert alert-success" role="alert">
                    Your Transaction is done with success
                </div>
                <div *ngIf="!transactionAdded && submited" class="alert alert-danger" role="alert">
                    Transaction declined due to insufficient balance
                </div>
            </div>


            <div class="row mb-3 ">
                <div class="col-sm-3">
                    <label for="">Amount</label>
                </div>
                <div class="col-sm-6">
                    <input class="col-md-6 form-control" placeholder="Transaction amount" type="number"
                        formControlName="amount">
                </div>
            </div>
            <div class="row mb-3 ">
                <div class="col-sm-3">
                    <label for="">Type</label>
                </div>
                <div class="col-sm-6">
                    <select class="col-sm-12" formControlName="type">
                        <option value="DEPOSIT">DEPOSIT</option>
                        <option value="WITHDRAWAL">WITHDRAWAL</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3 ">
                <div class="col-sm-3">
                    <label for="">Description</label>
                </div>
                <div class="col-sm-6">
                    <textarea class="col-md-6 form-control" placeholder="Transaction description" rows="3"
                        formControlName="description"></textarea>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="col-md-2 text-center btn btn-primary">Validate</button>
            </div>
        </div>
    </form>
</div>